<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @kick.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kick.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @kick.style %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @kick.quantity %>
</p>

<%= link_to 'Edit', edit_kick_path(@kick) %> |
<%= link_to 'Back', kicks_path %>
